@import "tailwindcss";

@theme {
  --font-redhat: "Red Hat Text";
  --color-red: hsl(14, 86%, 42%);
  --color-green: hsl(159, 69%, 38%);
  --color-pink-50:hsl(20, 50%, 98%);
  --color-pink-100:hsl(13, 31%, 94%);
  --color-pink-300:hsl(14, 25%, 72%);
  --color-pink-400:hsl(7, 20%, 60%);
  --color-pink-500:hsl(12, 20%, 44%);
  --color-pink-900:hsl(14, 65%, 9%);
}